// Portfolio Modal 1
.portfolio-modal.modal.fade#portfolioModal1(tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true")
  .modal-dialog.modal-xl
    .modal-content
      .modal-header.border-0
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body.pb-5
        .container
          .row.justify-content-center
            .col-lg-8
              section.mb-4
                h2 UI Test Automation – Automation Test Store

                h3 Short description
                p
                  | Python-based UI automation framework validating end-to-end e-commerce workflows
                  | using Selenium WebDriver and PyTest,
                  | following Page Object Model and CI-ready design.
                  br
                  strong Website under test:
                  a(href="https://automationteststore.com/" target="_blank" rel="noopener noreferrer") Automation Test Store

                h3 Tech
                p Python · Selenium · PyTest · POM · Jenkins

                h3 GIFs
                .gifs
                  figure.gif-item
                    img(src="assets/img/portfolio/selenium_python/selenium_python_browser.gif",
                    alt="Automated user login flow executed in browser",
                    width="600"
                    )
                    figcaption Automated user login flow executed in browser
                  figure.gif-item
                    img(src="assets/img/portfolio/selenium_python/jenkins.gif",
                    alt="Automated user login flow executed in browser",
                    width="600")
                    figcaption CI pipeline running

                h3 CTA
                p
                  a(href="#" target="_blank" rel="noopener noreferrer") 🔗 View full project & setup on GitHub

              .d-flex.justify-content-center
                button.btn.btn-primary(data-bs-dismiss="modal")
                  i.fas.fa-xmark.fa-fw
                  | Close Window
